:root {
    --black:#0E0A0B;
    --pink:#B94A95;
    --heading-one:90px;
    --mobile-heading-one:75px;
    --text:20px;
    --mobile-text:18px;
    --vertical-text:14px;
    --mobile-vertical-text:10px;
    --list-item:35px;
    --mobile-list-item:25px;
    --heading-two:60px;
    --mobile-heading-two:50px;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

.button-solid {
    background-color:white;
    border:2px solid white;
    color:black;
    display:flex;
    align-items: center;
    gap:1rem;
    padding:0.5rem 1rem;
    font-weight:700;
}
.button-hollow {
    background-color:transparent;
    border:none;
    color:white;
    display:flex;
    align-items: center;
    gap:1rem;
    padding:0.5rem 1rem;
    font-weight:700;
}
button span {
    display:flex;
    align-items: center;
    justify-content: center;
}
button {
    cursor:pointer;
    transition:500ms;
}
button:hover img {
    scale:1.25;
    transition:500ms;
}

ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:black;
}

header,
main,
section,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width:100%;
    max-width:1440px;
    padding: 2rem 4rem;
}
body {
    background-color:var(--black);
    color:white;
}

/* Header */

.header-wrapper {
    width:100%;
    max-width:1440px;
    padding:2rem 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;;
}
.header-logo img {
    width:250px;
}
.header-logo {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

nav {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    display:flex;
    align-items: center;
    gap:2rem;
}
nav ul li {
    font-size:var(--text);
    font-weight:700;
}
button img {
    width:10px;
}
button {
    font-size:22px;
}
h1 {
    font-size:var(--heading-one);
    line-height:0.9;
    max-width:10ch;
}
p {
    font-size:var(--text);
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .header-logo img {
        width:200px;
    }
    nav img {
        width:40px;
    }
}

/* Main */

.main-right-buttons {
    display:flex;
    align-items: center;
}
main .wrapper {
    display:flex;
    align-items: flex-end;
    gap:0rem;
    padding-top:20rem;
    padding-bottom:4rem;
}
.main-left {
    width:50%;
}
.main-right {
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
main {
    position:relative;
}
.noise {
    position:absolute;
    mix-blend-mode: overlay;
    z-index:-1;
    width:100%;
    object-fit:cover;
    height:100%;
}
@media(max-width:1282px) {
    main .wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap:2rem;
    }
    h1 {
        max-width:10ch !important;
    }
    .main-left {
        width:100%;
    }
    .main-right p {
        max-width:50ch;
    }
    .main-right {
        width:100%;
    }
    .main-right-buttons {
        margin-top:1rem;
        gap:2rem;
    }
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
        padding-top:14rem;
    }
    .main-right-buttons button {
        width:75%;
        justify-content: space-between;
        line-height:1;
        text-align:left;
        padding-block:1rem;
    }
    .main-right-buttons {
        flex-direction: column;
        align-items: flex-start;
        width:100%;
    }
}
@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
    h1 {
        font-size:var(--mobile-heading-one);
    }
    .main-right p {
        font-size:var(--mobile-text);
    }
    
    
}
@media (max-width:450px) {
    .main-right-buttons button {
        width:100%;
        justify-content: space-between;
        line-height:1;
        text-align:left;
    }   
}
@media (max-width:350px) {
    h1 {
        font-size:55px;
    }
}
/* Clicker */

/* Testimonials */

.testimonials-section {
    background-image: linear-gradient(to left, #0E0A0B, #0E0A0B00 60%), linear-gradient(to bottom, #0E0A0B, #0E0A0B00 60%), linear-gradient(to top, #0E0A0B, #0E0A0B00 60%), url(visual-png/old-film-camera.png);
    background-size:cover;
}
.contact-section {
    background-image: linear-gradient(to right, #0E0A0B, #0E0A0B00 70%), linear-gradient(to bottom, #0E0A0B, #0E0A0B00 70%), linear-gradient(to top, #0E0A0B, #0E0A0B00 70%), url(visual-png/old-film-camera-light.png);
    background-size:cover;
}
.testimonials-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;
}
.testimonials-titles {
    border-top:1px solid white;
    border-bottom:1px solid white;
    width:100%;
    padding-block:1rem;
}
.testimonials-titles h2 {
    font-size:var(--heading-two);
}
.testimonials-middle p {
    font-size:55px;
    line-height:1;
    width:100%;
}
.testimonials-middle {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top:4rem;
    width:50%;
    padding-bottom:2rem;
    align-self:flex-start;
}
.contact-section .testimonials-middle {
    align-self:flex-end;
}

.testimonials-bottom {
    background-color:white;
    width:100%;
    color:black;
    display:flex;
    justify-content: flex-end;
}
.testimonials-bottom-right {
    width:50%;
    padding:2rem;
    gap:2.3rem;
    height:325px;
    overflow-y: hidden;
    position:relative;
    

}
.track {
    gap:4rem;
    height:max-content;
    transition:500ms;
    position:relative;

}
.testimonials-review {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
    transition:500ms;
    position:absolute;
    inset:0;
    height:300px;
}
.next,
.prev {
    cursor:pointer;
}


.contact-list {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.contact-list-item {
    display:flex;
    align-items: center;
    gap:1rem;
}
.contact-list-item img {
    width:25px;
}
.contact-section .testimonials-bottom-left img {
    height:100%;
}
.contact-section .testimonials-bottom-right > p {
    font-size:30px;
    max-width:25ch;
    line-height:1.2;
}
.testimonials-bottom-left {
    position: relative;
    width:50%;
}
.testimonials-bottom-left > img {
    position:absolute;
    width:100%;
    inset:0;
    object-fit:cover;
    height:100%;
}
.nav-arrows {
    position:absolute;
    z-index:2;
    right:2rem;
    top:2rem;
    display:flex;
    align-items: center;
    gap:1rem;
}
.testimonials-middle {
    height:400px;
    overflow-y:hidden;
}
.nav-arrows img {
    width:50px;
}
.track-two {
    height:max-content;
    position:relative;
    width:100%;
    transition:500ms;

    
}
.second-slide {
    position:absolute;
    width:100%;
    transition:500ms;
    height:380px ;

    
}
@media (max-width:1282px) {
    .testimonials-bottom {
        flex-direction:column;
        width:100%;
    }
    .testimonials-section .wrapper {
        gap:2rem;
    }
    
    .testimonials-middle {
        align-self: flex-start;
        width:100%;
    }
    .testimonials-middle p {
        max-width:25ch;
    }
    .testimonials-bottom-left {
        width:100%;
        display:flex;
        align-items: flex-end;
        justify-content: center;
    }
    .testimonials-bottom-right {
        width:100%;
    }
    .testimonials-bottom-left img {
        z-index:1000;
        position:static;
        width:100%;
    }
    .testimonials-bottom-right p {
        font-size:var(--mobile-text);
    }
    .testimonials-bottom-right {
        padding-inline:1rem;
    }
    .nav-arrows {
        z-index:10000;
    }
  
    
}
@media (max-width:700px) {
    .testimonials-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .testimonials-section .wrapper {
        padding-inline:1rem;
    }
    .testimonials-middle p {
        font-size:40px;
    }
    .testimonials-titles h2 {
        font-size:var(--mobile-heading-two);
    }
}
/* Gallery */

.gallery-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;

}
.gallery-titles {
    padding-block:1rem;
    border-top:1px solid white;
    border-bottom:1px solid white;
    width:100%;
    padding-inline:4rem;
}
.gallery-titles h2 {
    font-size:var(--heading-two);
    line-height:1;
}
.gallery-middle p {
    font-size:55px;
    line-height:1;
    max-width:20ch;
    margin-right:12rem;
}
.gallery-middle {
    width:100%;
    display:flex;
    justify-content: center;
    padding-block:4rem;
}
.gallery-grid {
    width:100%;
    padding:4rem;
    display:grid;
    grid-template-columns: 1fr;
    place-items:center;
    gap:32rem;
}
.gallery-grid-item p {
    font-size:55px;
    line-height:1;
    position:absolute;
    z-index:1;
    bottom:2rem;
    left:2rem;
    max-width:25ch;
}
.gallery-grid-item {
    position:relative;
}
.gallery-grid-item img {
    width:97%;
    transform:translateY(12rem);
    opacity:0;
}
.gallery-section {
    position:relative;

}
.gallery-section .wrapper {
    padding-inline:0;
}
.gallery-grid {
    place-items:center !important;
    place-content:center !important;

}
/* .gallery-grid-item {
    position:sticky;
    top:18%;
} */


.absolute {
    position:sticky;
    top:0%;
    width:100%;
   
}
.filmed {
    width:100%;
    opacity:0.2;
}
@media (max-width:1025px) {
    .gallery-middle p {
        font-size:55px;
        line-height:1;
        max-width:20ch;
        margin-right:0rem;
    }
    .gallery-middle {
        justify-content: flex-start;
        align-items: center;   
    }
    .gallery-titles {
        padding-inline:4rem;
    }
    .gallery-middle,
    .gallery-grid {
        padding-inline:2rem;
    }
}
@media (max-width:700px) {
   
    .gallery-titles {
        padding-inline:2rem;
    }
    .gallery-middle,
    .gallery-grid {
        padding-inline:1rem;
    }
    .gallery-middle p,
    .gallery-grid p {
        font-size:35px;
    }
    
}
@media (max-width:553px) {
    .gallery-grid p {
        font-size:30px;
    }
}
@media (max-width:500px) {
    .gallery-titles {
        padding-inline:1rem;
    }
    .gallery-titles h2 {
        font-size:var(--mobile-heading-two);
    } 
}
@media (max-width:448px) {
    .gallery-grid p {
        font-size:25px;
    }
    .gallery-grid-item p {
        left:1rem;
    }
}
@media (max-width:395px) {
    .gallery-grid p {
        font-size:20px;
    }
    .gallery-grid-item p {
        left:1rem;
    }
}

.pink {
    padding-left:0;
    margin-top:2rem;
    color:var(--pink);
}
.pink img {
    width:35px;
}


video {
    position:absolute;
    width:100%;
    z-index:-1;
    mix-blend-mode:soft-light;
    /* opacity:0.2; */
    inset:0;
    object-fit:cover;
    height:100%;
}