:root {
    --black:#030303;
    --pink:#B94A95;
    --heading-one:75px;
    --mobile-heading-one:50px;
    --text:20px;
    --mobile-text:18px;
    --vertical-text:14px;
    --mobile-vertical-text:10px;
    --list-item:35px;
    --mobile-list-item:25px;
    --heading-two:50px;
    --mobile-heading-two:30px;
}
@font-face {
    font-family: customFont;
    src: url(../Adieu-Regular.ttf);
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Darker Grotesque', sans-serif;
    font-family:customFont;

}
h2 {
    line-height:1.2 !important;
}
h1 {
    line-height:1.1 !important;
}
p,
label,
li,
button,
a {
    font-family: 'Darker Grotesque', sans-serif;

}

.button-solid {
    background-color:white;
    border:2px solid white;
    color:black;
    display:flex;
    align-items: center;
    gap:1rem;
    padding:0.5rem 1rem;
    font-weight:700;
}
.button-hollow {
    background-color:transparent;
    border:none;
    color:white;
    display:flex;
    align-items: center;
    gap:1rem;
    padding:0.5rem 1rem;
    font-weight:700;
}
.pink {
    padding-left:0;
    margin-top:2rem;
    color:var(--pink);
}
.pink img {
    width:35px;
}
button span {
    display:flex;
    align-items: center;
    justify-content: center;
}
button {
    cursor:pointer;
    transition:500ms;
}
button:hover img {
    scale:1.25;
    transition:500ms;
}

ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:white;
}

header,
main,
section,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.noise {
    position:absolute;
    mix-blend-mode: overlay;
    mix-blend-mode:soft-light;

    z-index:-1;
    width:100%;
    object-fit:cover;
    height:100%;
}
.noisetwo {
    mix-blend-mode:soft-light;
    opacity:0.7;
}
.noisethree {
    opacity:0.3;

}

.wrapper {
    width:100%;
    max-width:1440px;
    padding: 2rem 4rem;
}
body {
    background-color:var(--black);
    color:white;
}
.bottom a {
    color:black !important;
}
/****** Dropdown ******/

.dropdown {
    position:relative !important;
    display:none;
    z-index:10;
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:#262626;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;
    border-radius:0.5rem;
   
}





.dropdown-heading > a {
    font-weight:700 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:300 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.menu {
    width:30px;
    display:none;
    cursor:pointer;
}
.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
    display:none;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:300 !important;
}
@media (max-width:1250px) {
    nav ul {
        display:none;
    }
    .dropdown {
        display:block;
    }
    .menu + .dropdown-menu {
        padding-block:2rem;
        display:grid;
    }
    .menu {
        display:block;
    }
    nav {
        display:flex;
        justify-content: flex-end;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .dropdown-menu {
        grid-template-columns:1fr;
    }
}

/* Header */
header {
    position:fixed;
    z-index:10;
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    padding:2rem 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display:none;
    width:50px;
}
.header-logo img {
    width:250px;
}
.header-logo {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

nav {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    display:flex;
    align-items: center;
    gap:2rem;
}
nav ul li {
    font-size:var(--text);
    font-weight:700;
}
button img {
    width:10px;
}
button {
    font-size:22px;
}
h1 {
    font-size:var(--heading-one);
    line-height:0.9;
    max-width:10ch;
}
p {
    font-size:var(--text);
}
@media (max-width:1000px) {
    .menu {
        display:block;
    }
    nav {
        display:none;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .header-logo img {
        width:200px;
    }
    nav img {
        width:40px;
    }
}

/* main */

.testimonials-bottom {
    background-color:white;
    width:100%;
    color:black;
    display:flex;
    justify-content: flex-end;
}

.testimonials-section .testimonials-bottom {
    z-index:100 !important;
    position:relative !important;
}
.testimonials-bottom-right {
    width:50%;
    padding:2rem;
    gap:2.3rem;
    height:325px;
    overflow-y: hidden;
    position:relative;
    z-index:10000 !important;
}
.testimonials-section .testimonials-bottom {
    z-index:100 !important;
    position:relative !important;
}
.testimonials-bottom-right {
    width:50%;
    padding:2rem;
    gap:2.3rem;
    height:325px;
    overflow-y: hidden;
    position:relative;
    z-index:10000 !important;
}
.testimonials-bottom-right > p:nth-of-type(1) {
    font-size:30px;
    line-height:1;
    max-width:25ch;
}
.contact-list {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.contact-section .testimonials-bottom-right {
    gap:4rem !important;
}
.contact-list-item {
    display:flex;
    align-items: center;
    gap:1rem;
}
.contact-list-item:nth-child(1) {
    margin-top:1rem;
}
.contact-list-item img {
    width:25px;
}
.contact-section .testimonials-bottom-left img {
    height:100%;
}
.contact-section .testimonials-bottom-right > p {
    font-size:30px;
    max-width:25ch;
    line-height:1.2;
}
.contact-section button {
    align-self:flex-start;
}
.testimonials-bottom-left {
    position: relative;
    width:50%;
}
.testimonials-bottom-left > img {
    position:absolute;
    width:100%;
    inset:0;
    object-fit:cover;
    height:100%;
}

/* More Main */

main {
    background-image:linear-gradient(to left, #030303, #03030300 ),linear-gradient(to right, #030303, #03030300 ), linear-gradient(to top, #030303, #03030300 10% ), url(../contact-images/contact-background.png);
    background-repeat:no-repeat;
    background-color:var(--black);
    background-size:cover;
    /* background-blend-mode:difference; */
    z-index:0;
    position: relative;
}

span {
    color:var(--pink);
}
main .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
    padding-top:10rem;
}
.main-top {
    display:flex;
    align-items: center;
    gap:2rem;
}
.main-top-right,
.main-top-left {
    width:50%;
}
.main-top-left {
    align-self:flex-start;
    margin-top:8rem;
}
.main-top-left p {
    font-size:var(--heading-two);
    line-height:1 !important;
    font-family:customFont;
}
.main-top-right form {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
    gap:0.5rem;
}
fieldset {
    border:none;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
}
label {
    font-weight:500;
    font-size:var(--text);
}
input,
textarea {
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:2px solid white;
    padding:0.75rem 0.25rem;
}

input:focus,
textarea:focus {
    outline:2px solid white;
    border-bottom:none;
}

@media (max-width:1246px) {
    main .wrapper {
        padding-top:12rem;
    }

    .main-top {
        flex-direction: column;
        gap:6rem;
    }
    .main-top-left,
    .main-top-right {
        width:100%;
    }
    .testimonials-bottom {
        flex-direction: column-reverse;
    }
    .testimonials-bottom-left {
        position:relative;
        width:100%;
    }
    .testimonials-bottom-right {
        width:100%;
        padding-inline:1rem;
    }
    .testimonials-bottom-right > p {
        max-width:100% !important;
        width:100%;
    }
    .testimonials-bottom-left img {
        width:100%;
        position:static;
    }
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
        padding-top:6rem;
    }
    main {
        background-image:linear-gradient(to left, #030303, #03030300 60% ), url(../contact-images/contact-background.png);
    }
    .main-top-left > p {
        font-size:40px !important;
    }
    .testimonials-bottom-right > p {
        font-size:22px !important;
    }
    .contact-list-item p {
        font-size:var(--mobile-text);
    }
    .contact-list-item:nth-child(3) img {
        width:15px;
    }
    .testimonials-bottom-right {
        height:auto;
    }
    .main-top-left p {
        font-size:50px;
    }
    .bottom .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
    .bottom .wrapper {
        padding-inline:1rem;
    }
}